html[data-theme='dark'] {
  //--secondBg: #334f60;
  --first: #1A2932;
  --second: #325364;
  --secondBg: #334f60;
  --third: #4D7F9A;
  --white: #ffff;
  --black: #111;
  --randomMovieInfo: rgba(26, 41, 50, 0.56);
  --randomMovieLinkHover: rgba(69, 108, 133, 0.56);
}
//html[data-theme='light'] {
//  --first: #1C6758;
//  --secondBg: #367355;
//  --second: #52af82;
//  --third: #D6CDA4;
//  --white: #111;
//  --black: #fff;
//  --randomMovieInfo: rgba(28, 103, 88, 0.56);
//  --randomMovieLinkHover: rgb(82, 175, 130);
//}

html[data-theme='light'] {
  --first: #ffd5ab;
  --secondBg: #c7b7b7;
  --second: #c4a68b;
  --third: #a0683e;
  --white: #111;
  --black: #fff;
  --randomMovieInfo: rgba(235, 216, 195, 0.56);
  --randomMovieLinkHover: #d0beae;
}
