.main{
  height: 100%;
  width: 100%;
  background: #17222A;
  background: -webkit-radial-gradient(center, #17222A, #3A6073);
  background: -moz-radial-gradient(center, #17222A, #3A6073);
  background: radial-gradient(ellipse at center, #17222A, #3A6073);
  background-size: cover;
  overflow: auto;
  .actorContainer{
    padding: 20px;
    margin: 50px 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .actorInfoContainer{
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
      animation: actorInfoContainer 0.4s linear forwards;
      .actorPhotoContainer{
        img{
          width: 200px;
        }
      }
      .infoDescription{
        display: flex;
        flex-direction: column;
        height: 300px;
        .info{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 50px;
          border-bottom: 1px solid #4d7f9a;
          font-size: 20px;
          color: #fff;
          font-weight: 500;
          height: 100%;
          .nameInfo{
            margin-left: 20px;
            min-width: 200px;
          }
        }
      }
    }
    .actorMovieList{
      display: flex;
      flex-direction: column;
      gap: 50px;
      .searchContainer{
        display: flex;
        justify-content: center;
        &:hover{
          .searchInput{
            box-shadow: 0 4px 45px #436E85;
          }
        }
        .searchInput{
          border: none;
          outline: none;
          color: #436E85;
          padding: 5px 0 5px 20px;
          min-width: 0;
          background: #1A2932;
          position: relative;
          transition: 0.3s ease;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          animation: input 0.4s linear forwards;
          &::placeholder{
            color: #436E85;
          }
        }
      }
      .moviesContainer{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        transition: 0.3s;
        grid-gap: 150px 50px;
      }
    }
  }
}

.movieContainer{
  cursor: pointer;
  transition: 0.3s;
  background: #1A2932;
  height: 305px;
  width: 210px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  animation: movieContainer 0.3s linear forwards;
  img{
    transition: 0.3s;
    min-height: 100%;
    width: 100%;
    z-index: 2;
  }
  .movieTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.42);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 0;
    transition: 0.3s;
    background-color: #1A2932;
    span{
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      text-align: center;
      color: #436E85;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0 10px;
    }
  }
}

@keyframes input {
  from{
    min-width: 0;
  }
  to{
    min-width: 50%;
  }
}

@keyframes movieContainer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes actorInfoContainer {
  from{
    transform: translateY(-1000px);
  }
  to{
    transform: translateY(0);
  }
}