@import '../../assests/styles/style';
$first: var(--first);
$secondBg: var(--secondBg);
.main{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.4s;
  background: var(--first);
  background: -webkit-radial-gradient(center, $first, $secondBg);
  background: -moz-radial-gradient(center, $first, $secondBg);
  background: radial-gradient(ellipse at center, $first, $secondBg);
  background-repeat: no-repeat;
  background-size: cover;
  }
.movieInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: rgba(67, 110, 133, 0.22) 1px solid;
  position: absolute;
  z-index: 9999;
  background: var(--randomMovieInfo);
  backdrop-filter: blur(5px);
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  height: 200px;
  width: 500px;
  max-width: 500px;
  border-radius: 15px;
  animation: movieInfo 0.4s linear forwards;
  .infoContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    font-size: 20px;
    width: 100%;
    .title{
      font-size: 35px;
      max-height: 52px;
      color: white;
      overflow: hidden;
    }
    .original_title{
      color: white;
      font-size: 15px;
      font-style: italic;
      opacity: 0.3;
      margin: 5px 0 20px 0;
      line-height: 0;
      max-height: 10px;
    }
    .imdbContainer{
      .rate{

      }
      .imdbSpan{
        color: white;
      }
    }
  }
  .movieLink{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50%;
    border-radius: 15px;
    border: var(--third) 1px solid;
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    z-index: 9999;
    div{
      color: white;
    }
    &:hover {
      background: var(--randomMovieLinkHover);
    }
  }
}
.randomIconContainer{
  background-color: var(--first);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: calc(50% - 65px);
  padding: 20px 50px;
  border-radius: 10px 10px 0 0;
  z-index: 9;
  cursor: pointer;
  transition: all 0.2s;
  animation: show 0.2s linear forwards;
  .randomIcon{
    stroke: var(--third);
  }
  &:hover {
    background-color: var(--second);
    .randomIcon{
     stroke: white;
    }
  }
  .randomIcon{
  }
}

.targetButton{
  animation: move 0.5s linear infinite;
}
.hideButton{
  animation: hide 0.5s linear forwards;
}

.swiper-slide-active{
  opacity: 50% !important;
  cursor: pointer !important;
}


.pressButton{
  position: absolute;
  text-align: center;
  top: 50%;
  color: white;
  left: calc(50% - 150px);
  width: 300px;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  span{
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    margin-right: 15px;
  }

  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes show {
  from{
    bottom: -100px;
  }
  to{
    bottom: 0;
  }
}

@keyframes move {
  0%{
    bottom: 0;
  }
  50%{
    bottom: -20px;
  }
  100%{
    bottom: 0;
  }
}
@keyframes hide {
  from{
    bottom: 0;
  }
  to{
    bottom: -100px;
    display: none;
  }
}

@keyframes movieInfo {
  0%{
    transform: scale(0) translateX(1000px);
    filter: blur(50px);
  }
  50%{
    transform: scale(0.5) translateX(500px);
    filter: blur(10px);
  }
  100%{
    transform: scale(1) translateX(0);
    filter: blur(0);
  }
}

@media (max-width: 750px) {
  .movieInfo{
    top: calc(50% - 200px);
  }
}

@media (max-width: 740px) {
  .main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
  }
  .movieInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: rgba(67, 110, 133, 0.22) 1px solid;
    position: absolute;
    background: rgba(26, 41, 50, 0.56);
    top: calc(50% - 100px);
    backdrop-filter: blur(5px);
    left: calc(50% - 175px);
    height: 200px;
    width: 350px;
    max-width: 500px;
    border-radius: 15px;
    animation: movieInfo 0.4s linear forwards;
    .infoContainer{
      display: flex;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
      max-width: 100%;
      font-size: 20px;
      width: 100%;
      color: white;
      .title{
        font-size: 35px;
        max-height: 52px;
        overflow: hidden;
      }
      .original_title{
        font-size: 15px;
        font-style: italic;
        opacity: 0.3;
        margin: 5px 0 20px 0;
        line-height: 0;
        max-height: 10px;
      }
      .rate{
      }
    }
    .movieLink{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50%;
      border-radius: 15px;
      border: var(--third) 1px solid;
      color: var(--white);
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background: var(--third);
      }
    }
  }
  .randomIconContainer{
    background-color: var(--first);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    transition: all 0.2s;
    animation: show 0.2s linear forwards;
    &:hover {
      background-color: var(--third);
      .randomIcon{
        stroke: var(--white);
      }
    }
    .randomIcon{
    }
  }
}
