.main{
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #17222A;
  background: -webkit-radial-gradient(center, #17222A, #3A6073);
  background: -moz-radial-gradient(center, #17222A, #3A6073);
  background: radial-gradient(ellipse at center, #17222A, #3A6073);
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #17222A;
    border-radius: 10px;
    margin: 0 2px;
  }
  .headerContainer{
    display: flex;
    flex-direction: column;
    .logInContainer{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      span{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #4d7f9a;
        margin-right: 20px;
        text-decoration: underline;
        margin-top: 10px;
      }
    }
    .searchContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      input{
        border: none;
        outline: none;
        color: #436E85;
        padding: 5px 0 5px 20px;
        width: 550px;
        background: #1A2932;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: relative;
        &::placeholder{
          color: #436E85;
        }
      }
      .searchListModal{
        transition: 0.3s;
        animation: showModal 0.1s linear forwards;
        position: absolute;
        top: 65px;
        background: #1A2932;
        width: 550px;
        z-index: 999;
        overflow: auto;
        &::-webkit-scrollbar{
          width: 10px;
        }
        &::-webkit-scrollbar-track{
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #4d7f9a;
          border-radius: 10px;
          margin: 0 2px;
        }
        .modalMovieContainer{
          cursor: pointer;
          display: flex;
          width: 100%;
          align-items: center;
          background: transparent;
          transition: 0.3s;
          overflow: hidden;
          justify-content: flex-start;
          padding: 40px;
          &:hover{
            background-color: #253b48;
          }
          .modalMovieImageContainer{
            .modalMovieImage{
            }
          }
          .modalMovieInfoContainer{
            min-width: 70%;
            display: flex;
            flex-direction: column;
            color: #50829d;
            font-size: 20px;
            font-weight: bold;
            max-width: 250px;
            text-align: center;
            .originalTitle{
              color: rgba(67, 110, 133, 0.4);
            }
            span{
              margin: 15px 0;
            }
            .modalMovieRate{
              display: flex;
              align-items: center;
              justify-content: center;
              img{
                height: 15px;
              }
            }
          }
        }
      }
    }
    .navContainer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      margin-top: 36px;
      flex-direction: row;
      .navMenu{
        display: flex;
        flex-direction: row;
        span{
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #4d7f9a;
          margin: 0 26px;
          cursor: pointer;
          transition: 0.3s;
          &:hover{
            transform: scale(105%);
            color: white;
          }
        }
      }
    }
    .sortContainer{
      transition: 0.3s;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      width: 150px;
      user-select: none;
      .sortTitle{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #4d7f9a;
        margin-right: 15px;
        cursor: pointer;
      }
      .sortArrow{
        transition: 0.3s;
        cursor: pointer;
        fill: #4d7f9a;
        transform: rotate(-90deg);
      }
      .open{
        transition: 0.3s;
        cursor: pointer;
        fill: #4d7f9a;
        transform: rotate(90deg);
      }
    }
  }
  .moviesContainer{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    transition: 0.3s;
    padding-bottom: 50px;
    .movieContainer{
      cursor: pointer;
      transition: 0.3s;
      margin: 60px 0;
      height: 305px;
      width: 210px;
      background: #1A2932;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      .moviePoster{
        transition: 0.3s;
        min-height: 100%;
        width: 100%;
      }
      &:hover{
        transform: scale(105%);
      }
      &:hover .movieInfoContainer{
        background-color: #ffffff;
      }
      .movieInfoContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.42);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px 0;
        transition: 0.3s;
        background-color: #1A2932;
        .movieTitle{
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          text-align: center;
          color: #436E85;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 0 10px;
        }
        .rateContainer{
          display: flex;
          justify-content: center;
          align-items: center;
          .movieRate{
            font-style: normal;
            font-weight: 500;
            font-size: 9px;
            line-height: 11px;
            text-align: center;
            color: #436E85;
          }
          .starIco{
            margin-bottom: 2px;
          }
        }
      }
    }
  }
  .paginateContainer{
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    .pagination{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 100%;
      user-select: none;
      .pageLink{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        color: inherit;
      }
      .pageItem{
        display: flex;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: #1A2932;;
        box-sizing: border-box;
        border-radius: 4px;
        transition: 0.3s;
        margin: 0 5px;
        color: #436E85;
        &:hover{
          background: #4d7f9a;
          color: #1A2932;
          box-shadow: rgba(0, 0, 0, 0.18) 0 15px 5px -5px;
        }
      }
      .active{
        color: white;
      }
      .disabled{
        animation: hideDisabled 0.1s linear forwards;
      }
    }
  }
}


a{
  text-decoration: none;
}

@keyframes hideDisabled {
  from{
    transform: scale(100%);
  }
  to{
    transform: scale(0%);
    display: none;
  }
}



@keyframes showModal {
  from{
    height: 0;
  }
  to{
    height: 300px;
  }
}

.movieContainer{
  position: relative;
  &:hover .testRate{
    transition: 0.1s;
    border-radius: 0;
    margin: 0;
  }
}

.testRate{
  position: absolute;
  right: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 50px;
  background-color: #1A2932;
  height: 30px;
  width: 30px;
  span{
    color: white;
  }
}

.nextLabel{
  transform: rotate(180deg);
}
