.main{
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #17222A;
  background: -webkit-radial-gradient(center, #17222A, #3A6073);
  background: -moz-radial-gradient(center, #17222A, #3A6073);
  background: radial-gradient(ellipse at center, #17222A, #3A6073);
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #17222A;
    border-radius: 10px;
    margin: 0 2px;
  }
  .headerContainer{
    display: flex;
    flex-direction: column;
    .logInContainer{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      span{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #4d7f9a;
        margin-right: 20px;
        text-decoration: underline;
        margin-top: 10px;
      }
    }
    .searchContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      input{
        border: none;
        outline: none;
        color: #436E85;
        padding: 5px 0 5px 20px;
        width: 554px;
        background: #1A2932;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &::placeholder{
          color: #436E85;
        }
      }
    }
    .navContainer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      margin-top: 36px;
      flex-direction: row;
      .navMenu{
        display: flex;
        flex-direction: row;
        span{
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #4d7f9a;
          margin: 0 26px;
          cursor: pointer;
          transition: 0.3s;
          &:hover{
            transform: scale(105%);
            color: white;
          }
        }
      }
    }
    .sortContainer{
      transition: 0.3s;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      width: 150px;
      .sortTitle{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #4d7f9a;
        margin-right: 15px;
      }
      .sortArrow{
        transition: 0.3s;
        cursor: pointer;
        fill: #4d7f9a;
        transform: rotate(-90deg);
      }
      .open{
        transition: 0.3s;
        cursor: pointer;
        fill: #4d7f9a;
        transform: rotate(90deg);
      }
    }
  }
  .moviesContainer{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    transition: 0.3s;
    .movieContainer{
      transition: 0.3s;
      margin: 60px 0;
      height: 305px;
      width: 210px;
      background: #1A2932;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      .moviePoster{
        transition: 0.3s;
        min-height: 100%;
        width: 100%;
      }
      &:hover{
        transform: scale(105%);
      }
      &:hover .movieInfoContainer{
        background-color: #ffffff;
      }
      .movieInfoContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.42);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px 0;
        transition: 0.3s;
        background-color: #1A2932;
        .movieTitle{
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          text-align: center;
          color: #436E85;
          text-overflow: ellipsis;
        }
        .rateContainer{
          display: flex;
          justify-content: center;
          align-items: center;
          .movieRate{
            font-style: normal;
            font-weight: 500;
            font-size: 9px;
            line-height: 11px;
            text-align: center;
            color: #436E85;
          }
          .starIco{
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}

a{
  text-decoration: none;
}
