.main{
  background: rgba(225, 42, 42, 0.84);
  height: 100px;
  width: 250px;
  position: absolute;
  left: -200px;
  bottom: 20px;
  z-index: 99999;
  overflow: hidden;
  border-radius: 10px;
  animation: main 0.4s linear forwards;
  .string{
    height: 5px;
    width: 100%;
    background: #fff;
    animation: string 3s linear infinite;
  }
  .descriptionContainer{
    color: #fff;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
    .error{
      font-weight: 500;
      display: flex;
      justify-content: center;
      width: 100%;
      text-transform: uppercase;
    }
    .description{
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
    }
  }
}

@keyframes string {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-300px);
  }
}

@keyframes main {
  from{
    left: -200px;
  }
  to{
    left: 0;
  }
}