.mainContainer{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
  }
  &::-webkit-scrollbar-thumb {
    background-color: #17222A;
    margin: 0 2px;
  }
  .mainContainerGradient{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.59);
    .movieContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      max-width: 700px;
      .moviePosterContainer{
        .poster{
          min-width: 200px;
          max-width: 200px;
          width: 200px;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.47) 10px 2px 20px 5px;
        }
      }
      .movieInfoContainer{
        max-width: 40%;
        width: 40%;
        height: 300px;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div{
        }
        .titleContainer{
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          text-align: center;
          .title{
            font-size: 30px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.6);
            color: #5c97b7;
            //color: transparent;
            //text-stroke: 1px black;
            //-webkit-text-stroke: 1px black;
          }
          .originalTitle{
            color: rgba(255, 255, 255, 0.29);
            color: rgba(67, 110, 133, 0.65);
          }
        }
        .genresContainer{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          border: 1px rgba(255, 255, 255, 0.29) solid;
          border: 1px rgba(67, 110, 133, 0.65) solid;
          border-radius: 15px;
          padding: 10px;
          span{
            color: #fff;
            color: #5c97b7;
            font-size: 20px;
            margin-right: 10px;
          }
        }
        .release_dateContainer{
          border: 1px rgba(255, 255, 255, 0.29) solid;
          border: 1px rgba(67, 110, 133, 0.65) solid;
          border-radius: 15px;
          padding: 10px;
          text-align: center;
          span{
            color: #fff;
            color: #5c97b7;
            font-size: 20px;
          }
        }
        .runtimeContainer{
          border: 1px rgba(255, 255, 255, 0.29) solid;
          border: 1px rgba(67, 110, 133, 0.65) solid;
          border-radius: 15px;
          padding: 10px;
          text-align: center;
          span{
            color: #fff;
            color: #5c97b7;
            font-size: 20px;
          }
        }
        .budgetContainer{

          span{

          }
        }
      }
    }
    .getMovieButton {
      position: absolute;
      bottom: 20px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border: 1px rgba(67, 110, 133, 0.65) solid;
      color: rgba(255, 255, 255, 0.53);
      color: #5c97b7;
      padding: 20px 15px;
      background-color: transparent;
      font-size: 20px;
      border-radius: 25px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.21);
        background-color: rgba(26, 41, 50, 0.71);
        box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 20px 5px;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
      }
    }
  }
}

.animationCircle{
  position: absolute;
  height: 10px;
  width: 50px;
  left: 45%;
  top: -10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.changeMovie{
  animation: showMovie 0.3s linear forwards;
}

@keyframes showMovie {
  0% {
    opacity: 1;
    left: 0;
  }
  25%{
    left: 100%;
    filter: blur(100px);
    opacity: 0;
  }
  50%{
    left: -100%;
    filter: blur(100px);
    opacity: 1;
  }
  75%{
    left: 100%;
    filter: blur(100px);
    opacity:  0;
  }
  100%{
    left: 0;
    filter: blur(0);
    opacity: 1;
  }
}

.linkContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-height: 60%;
  background-color: rgba(26, 41, 50, 0.71);
  box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 20px 5px;
  border-radius: 25px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 80%;
  max-width: 700px;
}

@media (max-width: 850px) {
  .mainContainer{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &::-webkit-scrollbar{
      width: 10px;
    }
    &::-webkit-scrollbar-track{
    }
    &::-webkit-scrollbar-thumb {
      background-color: #17222A;
      margin: 0 2px;
    }
    .mainContainerGradient{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.59);
      .movieContainer{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;
        .moviePosterContainer{
          margin-top: 80px;
          .poster{
            min-width: 200px;
            max-width: 200px;
            width: 200px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.47) 10px 2px 20px;
          }
        }
        .movieInfoContainer{
          height: 222px;
          max-height: 222px;
          min-width: 90%;
          max-width: 90%;
          width: 90%;
          gap: 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          div{
          }
          .titleContainer{
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            max-height: 65px;
            height: 65px;
            text-overflow: ellipsis;
            .title{
              font-size: 20px;
              font-weight: 500;
              color: rgba(255, 255, 255, 0.6);
              //color: transparent;
              //text-stroke: 1px black;
              //-webkit-text-stroke: 1px black;
            }
            .originalTitle{
              color: rgba(255, 255, 255, 0.29);
            }
          }
          .genresContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border: 1px rgba(255, 255, 255, 0.29) solid;
            border-radius: 15px;
            padding: 10px;
            span{
              color: #fff;
              font-size: 15px;
              margin-right: 10px;
            }
          }
          .release_dateContainer{
            border: 1px rgba(255, 255, 255, 0.29) solid;
            border-radius: 15px;
            padding: 10px;
            text-align: center;
            span{
              color: #fff;
              font-size: 15px;
            }
          }
          .runtimeContainer{
            border: 1px rgba(255, 255, 255, 0.29) solid;
            border-radius: 15px;
            padding: 10px;
            text-align: center;
            span{
              color: #fff;
              font-size: 15px;
            }
          }
          .budgetContainer{

            span{

            }
          }
        }
      }
      .getMovieButton {
        border: 1px solid rgba(255, 255, 255, 0.25);
        color: rgba(255, 255, 255, 0.53);
        padding: 10px 7px;
        background-color: transparent;
        font-size: 13px;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.21);
          box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 20px 5px;
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
        }
      }
    }
  }

  .animationCircle{
    position: absolute;
    height: 10px;
    width: 50px;
    left: 45%;
    top: -10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

  .changeMovie{
    animation: showMovie 0.3s linear forwards;
  }

  @keyframes showMovie {
    0% {
      opacity: 1;
      left: 0;
    }
    25%{
      left: 100%;
      filter: blur(100px);
      opacity: 0;
    }
    50%{
      left: -100%;
      filter: blur(100px);
      opacity: 1;
    }
    75%{
      left: 100%;
      filter: blur(100px);
      opacity:  0;
    }
    100%{
      left: 0;
      filter: blur(0);
      opacity: 1;
    }
  }

  .linkContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height: 60%;
    background-color: rgba(255, 255, 255, 0.21);
    box-shadow: inset rgba(255, 255, 255, 0.2) 0 0 20px 5px;
    border-radius: 25px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 80%;
    max-width: 700px;
  }
}