.mainContainer{
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #17222A;
  background: -webkit-radial-gradient(center, #17222A, #3A6073);
  background: -moz-radial-gradient(center, #17222A, #3A6073);
  background: radial-gradient(ellipse at center, #17222A, #3A6073);
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #17222A;
    margin: 0 2px;
  }
  .movieContainer{
    transition: 0.5s;
    display: flex;
    margin: 40px;
    position: relative;
    background-color: #1A2932;
    border-radius: 50px;
    overflow: hidden;
    &:active{
      transform: scale(150%);
    }
    &:active + .getMovieButton{
      display: none;
    }
    .moviePosterContainer{
      .poster{
        height: 500px;
      }
    }
    .movieInfoContainer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      height: 100%;
      div{
        height: 100%;
        justify-content: center;
      }
      .titleContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
        border-bottom: #4d7f9a 1px solid;
        .title{
          font-size: 20px;
          color: #4d7f9a;
        }
        .originalTitle{
          color: rgba(77, 127, 154, 0.64);
        }
      }
      .genresContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
        border-bottom: #4d7f9a 1px solid;
        span{
          font-size: 20px;
          color: #4d7f9a;
        }
      }
      .release_dateContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
        border-bottom: #4d7f9a 1px solid;
        span{
          font-size: 20px;
          color: #4d7f9a;
        }
      }
      .runtimeContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
        border-bottom: #4d7f9a 1px solid;
        span{
          font-size: 20px;
          color: #4d7f9a;
        }
      }
      .budgetContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
        border-bottom: #4d7f9a 1px solid;
        span{
          font-size: 20px;
          color: #4d7f9a;
        }
      }
    }
    .getMovieButton{

    }
  }
  .getMovieButton{
    border: none;
    outline: none;
    background-color: #1A2932;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #4d7f9a;
    cursor: pointer;
    position: relative;
  }
}


.changeMovie{
  animation: showMovie 0.5s linear forwards;
}

@keyframes showMovie {
  0% {
    opacity: 1;
    left: 0;
  }
  25%{
    left: 100%;
    filter: blur(100px);
    opacity: 0;
  }
  50%{
    left: -100%;
    filter: blur(100px);
    opacity: 1;
  }
  75%{
    left: 100%;
    filter: blur(100px);
    opacity:  0;
  }
  100%{
    left: 0;
    filter: blur(0);
    opacity: 1;
  }
}