$first: var(--first);
$secondBg: var(--secondBg);
*{
  color: var(--third);
}
.main{
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: var(--first);
  background: -webkit-radial-gradient(center, $first, $secondBg);
  background: -moz-radial-gradient(center, $first, $secondBg);
  background: radial-gradient(ellipse at center, $first, $secondBg);
  background-size: cover;
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--first);
    border-radius: 10px;
    margin: 0 2px;
  }
  .userAvatar{
    height: 200px;
    width: 200px;
    img{
      height: 100%;
      border-radius: 100%;
    }
  }
  .userName{
    display: flex;
    flex-direction: column;
    text-align: center;
    .name{
      font-size: 25px;
      font-weight: 700;
    }
    .login{
      font-size: 20px;
      font-weight: 500;
      opacity: 0.5;
      margin-bottom: 20px;
    }
  }
  .userSubscribers,
  .userSubscriptions{
    width: 100%;
    padding: 30px 10px;
    border: 1px solid var(--second);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 20px;
  }
  .headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .headerName{
      font-weight: 600;
      font-size: 30px;
    }
    .arrowIcon{
      height: 30px;
      width: 30px;
      fill: var(--third);
      cursor: pointer;
      transition: 0.5s;
    }
    .arrowRotate{
      transform: rotate(90deg);
    }
  }
  .moviesContainer{
    display: none;
    transition: 1s;
  }
  .moviesContainerOpen{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 100px 20px;
    padding: 50px;
    animation: showList 0.5s linear forwards;
    .movieContainer{
      cursor: pointer;
      transition: 0.3s;
      height: 305px;
      width: 210px;
      background: var(--first);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      animation: movieContainer 0.3s linear forwards;
      .moviePoster{
        transition: 0.3s;
        min-height: 100%;
        width: 100%;
        z-index: 2;
      }
      &:hover .movieInfoContainer{
        background-color: var(--white);
      }
      .movieInfoContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.42);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px 0;
        transition: 0.3s;
        background-color: var(--first);
        .movieTitle{
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          text-align: center;
          color: var(--second);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 0 10px;
        }
        .rateContainer{
          display: flex;
          justify-content: center;
          align-items: center;
          .movieRate{
            font-style: normal;
            font-weight: 500;
            font-size: 9px;
            line-height: 11px;
            text-align: center;
            color: var(--third);
          }
          .starIco{
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}

@keyframes showList {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes hideList {
  from{
    height: 100%;
  }
  to{
    height: 0;
  }
}