.main{
  background-color: #1A2932;
  height: 100%;
  width: 100px;
  color: #436E85;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: 0.3s;
  .logoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 38px;
    &:hover .logo{
      transform: scale(110%);
    }
    .logo{
      transition: 0.3s;
    }
  }
  .menuContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .profileContainer{
      color: #436E85;
      .profile{
      }
    }
  }
  .swiperContainer{
    margin-bottom: 38px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      transform: rotate(360deg);
    }
  }
  .arrowContainer{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #1A2932;
    height: 25px;
    width: 25px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    left: 50%;
    img{
      transform: rotate(180deg);
    }
  }
  .marksContainer{
    .marks{

    }
  }
}

.marksContainer,
.profileContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  span{
    margin-left: 15px;
    font-weight: 500;
  }
}


.mainOpen{
  width: 200px;
}

.arrowRotate{
  transform: rotate(180deg);
}