@import '../../assests/styles/style';
.mainContainer{
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--first);
  background: -webkit-radial-gradient(center, var(--first), var(--second));
  background: -moz-radial-gradient(center, var(--first), var(--second));
  background: radial-gradient(ellipse at center, var(--first), var(--second));
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--first);
    border-radius: 10px;
    margin: 0 2px;
  }
  .movieContainer{
    animation: show 0.2s linear forwards;
    background-color: var(--first);
    padding: 0 100px 50px 100px;
    width: 80%;
    margin: 50px 0;
    border-radius: 25px;
    .header{
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      .titleContainer{
        display: flex;
        flex-direction: column;
        .title{
          font-weight: 700;
          font-size: 30px;
          text-align: center;
          text-decoration-line: underline;
          color: var(--white);
        }
        .originalTitle{
          font-weight: 500;
          font-size: 15px;
          line-height: 15px;
          text-align: start;
          color: var(--white);
          opacity: 0.5;
        }
      }
      .favorites{
        .heartIcon{
          stroke: var(--third);
          cursor: pointer;
        }
        .heartIconFull{
          cursor: pointer;
          user-select: none;
          animation: born .3s linear forwards;
          fill: var(--third);
          stroke: var(--third);
        }
      }
    }
    .body{
      .image_info_container{
        display: flex;
        height: 500px;
        margin-top: 20px;
        .posterContainer{
          margin-right: 40px;
          min-width: 333px;
          max-width: 333px;
          .poster{

          }
        }
        .infoContainer{
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          min-width: 30%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .infoBlock{
            display: flex;
            align-items: center;
            border-bottom:  1px solid var(--third);
            height: 100%;
            color: var(--white);
            .blockDecription{
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              color: var(--white);
              a{
                color: var(--white);
              }
            }
            .genres{
              span{
                margin-right: 5px;
              }
              width: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            span{
            }
            .nameField{
              min-width: 140px;
              font-weight: 700;
              font-size: 18px;
            }
            .descriptionField{
              display: flex;
              gap: 8px;
              align-items: center;
              font-weight: 500;
              font-size: 15px;
              color: var(--white);
              max-width: 400px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              span{
                margin-right: 10px;
              }
            }
          }
        }
      }
      .aboutContainer{
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--third);
        border-radius: 25px;
        padding: 20px;
        .about{
          font-weight: 700;
          font-size: 25px;
          line-height: 203%;
          color: var(--white);
          }
        .overview{
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 203%;
          color: var(--white);
        }
      }
      .trailerContainer{
        display: flex;
        justify-content: center;
      }
      .rateContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
        span{
        }
        .star{
          transition: all 0.3s;
          cursor: pointer;
          width: 50px;
          height: 50px;
          fill: var(--second);
        }
      }
    }
  }
}
input[type="radio"] {
  display: none;
}
iframe{
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: 2px solid var(--third);
}

@keyframes show {
  from{
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes born {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

a{
  text-decoration: none;
  color: white;
}

@media (max-width: 1250px) {
  .mainContainer{
    .movieContainer{
      .header{
        .titleContainer{
          .title{
          }
          .originalTitle{
          }
        }
        .favorites{
          .heartIcon{
          }
        }
      }
      .body{
        .image_info_container{
          display: flex;
          align-items: center;
          flex-direction: column;
          height: 100%;
          .posterContainer{
              margin: 0;
              max-width: 333px;
              min-width: 200px;
            .poster{
            }
          }
          .infoContainer{
            .infoBlock{
              min-height: 50px;
              .blockDecription{
              }
              .genres{
                span{
                }
              }
              span{
              }
              .nameField{
              }
              .descriptionField{
                span{
                }
              }
            }
          }
        }
        .aboutContainer{
          .about{
          }
          .overview{
          }
        }
        .trailerContainer{
        }

        .rateContainer{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          span{
            text-align: center;
            font-weight: 700;
            font-size: 29px;
            line-height: 203%;
            color: var(--third);
            margin-top: 50px;
          }
          .star{
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
  iframe{
  }
  a{
  }
}

@media (max-width: 1250px) {
  .mainContainer{
    .movieContainer{
      .header{
        .titleContainer{
          display: flex;
          align-items: center;
          width: 100%;
          .title{
          }
          .originalTitle{
          }
        }
        .favorites{
          position: absolute;
          top: 30px;
          left: calc(50% - 15px);
          .heartIcon{
          }
        }
      }
      .body{
        .image_info_container{
          display: flex;
          align-items: center;
          flex-direction: column;
          height: 100%;
          .posterContainer{
              margin: 0;
              max-width: 333px;
              min-width: 200px;
            .poster{
            }
          }
          .infoContainer{
            .infoBlock{
              min-height: 50px;
              .blockDecription{
              }
              .genres{
                span{
                }
              }
              span{
              }
              .nameField{
              }
              .descriptionField{
                span{
                }
              }
            }
          }
        }
        .aboutContainer{
          .about{
          }
          .overview{
          }
        }
        .trailerContainer{
        }

        .rateContainer{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          span{
            text-align: center;
            font-weight: 700;
            font-size: 29px;
            line-height: 203%;
            color: var(--third);
            margin-top: 50px;
          }
          .star{
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
  iframe{
  }
  a{
  }
}

@media (max-width: 770px) {
  .mainContainer{
    background: var(--first);
    .movieContainer{
      background: none;
      width: 100%;
      padding: 0;
      .header{
        .titleContainer{
          .title{
          }
          .originalTitle{
          }
        }
        .favorites{
          .heartIcon{
          }
        }
      }
      .body{
        .image_info_container{
          display: flex;
          align-items: center;
          flex-direction: column;
          height: 100%;
          .posterContainer{
              margin: 0;
              max-width: 333px;
              min-width: 200px;
            .poster{
            }
          }
          .infoContainer{
            .infoBlock{
              display: flex;
              flex-direction: column;
              gap: 10px;
              padding: 10px 0;
              .blockDecription{
                max-height: 123px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
              }
              .genres{
                display: flex;
                span{
                }
              }
              span{
                text-align: center;
                width: 100%;
              }
              .nameField{
              }
              .descriptionField{
                span{
                  width: 100%;
                }
              }
            }
          }
        }
        .aboutContainer{
          .about{
          }
          .overview{
          }
        }
        .trailerContainer{
        }

        .rateContainer{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          span{
            text-align: center;
            font-weight: 700;
            font-size: 29px;
            line-height: 203%;
            color: var(--third);
            margin-top: 50px;
          }
          .star{
            width: 40.61px;
            height: 30.61px;
          }
        }
      }
    }
  }
  iframe{
  }
  a{
  }
}
@media (max-width: 500px) {
  .mainContainer{
    background: var(--first);
    .movieContainer{
      background: none;
      width: 100%;
      padding: 0;
      .header{
        .titleContainer{
          .title{
          }
          .originalTitle{
          }
        }
        .favorites{
          .heartIcon{
          }
        }
      }
      .body{
        .image_info_container{
          display: flex;
          align-items: center;
          flex-direction: column;
          height: 100%;
          .posterContainer{
              margin: 0;
              max-width: 333px;
              min-width: 200px;
            .poster{
            }
          }
          .infoContainer{
            .infoBlock{
              display: flex;
              flex-direction: column;
              gap: 10px;
              padding: 10px 0;
              .blockDecription{
                max-height: 123px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
              }
              .genres{
                display: flex;
                span{
                }
              }
              span{
                text-align: center;
                width: 100%;
              }
              .nameField{
              }
              .descriptionField{
                span{
                  width: 100%;
                }
              }
            }
          }
        }
        .aboutContainer{
          .about{
          }
          .overview{
          }
        }
        .trailerContainer{
        }

        .rateContainer{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          span{
            text-align: center;
            font-weight: 700;
            font-size: 29px;
            line-height: 203%;
            color: var(--third);
            margin-top: 50px;
          }
          .star{
            width: 30.61px;
            height: 30.61px;
          }
        }
      }
    }
  }
  iframe{
  }
  a{
  }
}