.mainContainer{
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #17222A;
  background: -webkit-radial-gradient(center, #17222A, #3A6073);
  background: -moz-radial-gradient(center, #17222A, #3A6073);
  background: radial-gradient(ellipse at center, #17222A, #3A6073);
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #436E85;
    border-radius: 10px;
    margin: 0 2px;
  }
  .movieContainer{
    animation: show 0.2s linear forwards;
    background-color: #1A2932;
    padding: 0 100px 50px 100px;
    width: 80%;
    margin: 50px 0;
    border-radius: 25px;
    .header{
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      .titleContainer{
        display: flex;
        flex-direction: column;
        .title{
          font-weight: 700;
          font-size: 30px;
          text-align: center;
          text-decoration-line: underline;
          color: #FFFFFF;
        }
        .originalTitle{
          font-weight: 500;
          font-size: 15px;
          line-height: 15px;
          text-align: start;
          color: rgba(255, 255, 255, 0.49);
        }
      }
      .favorites{
        .heartIcon{
          cursor: pointer;
          user-select: none;
          animation: born .3s linear forwards;
        }
      }
    }
    .body{
      .image_info_container{
        display: flex;
        height: 500px;
        margin-top: 20px;
        .posterContainer{
          margin-right: 40px;
          width: 50%;
          .poster{
            height: 100%;
          }
        }
        .infoContainer{
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 60%;
          .infoBlock{
            display: flex;
            border-bottom:  1px solid #4d7f9a;
            height: 100%;
            .nameField{
              display: flex;
              align-items: center;
              font-weight: 800;
              font-size: 20px;
              line-height: 150.4%;
              color: #FFFFFF;
              margin-right: 50px;
              width: 150px;
            }
            .descriptionField{
              display: flex;
              align-items: center;
              font-weight: 500;
              font-size: 15px;
              line-height: 150.4%;
              color: #FFFFFF;
              width: 400px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              span{
                margin-right: 10px;
              }
            }
          }
        }
      }
      .aboutContainer{
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        border: 1px solid #4d7f9a;
        border-radius: 25px;
        padding: 20px;
        .about{
          font-weight: 700;
          font-size: 25px;
          line-height: 203%;
          color: #F3F8FA;
          }
        .overview{
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 203%;
          color: #F3F8FA;
        }
      }
      .trailerContainer{
        display: flex;
        justify-content: center;
      }
      .rateContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        span{
          text-align: center;
          font-weight: 700;
          font-size: 29px;
          line-height: 203%;
          color: #436E85;
          margin-top: 50px;
        }
        .starsContainer{
          display: flex;
          justify-content: space-around;
          margin: 100px 0 50px 0;
          .star{
            transition: 0.3s;
            &:hover{
              fill: #bebe2b;
            }
            width: 58.61px;
            height: 58.61px;
          }
        }
      }
    }
  }
}

iframe{
  border-radius: 10px;
  border: 2px solid #436E85;
}

@keyframes show {
  from{
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes born {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

a{
  text-decoration: none;
  color: white;
}