$first: var(--first);
$secondBg: var(--secondBg);
.mainContainer{
  height: 100%;
  width: 100%;
  background: #17222A;
  background: -webkit-radial-gradient(center, $first, $secondBg);
  background: -moz-radial-gradient(center, $first, $secondBg);
  background: radial-gradient(ellipse at center, $first, $secondBg);
  background-size: cover;
  .loginButtonContainer{
    height: 100%;
    display: flex;
    align-items: center;
    .loginButton{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: transparent;
      border: 0.5px solid var(--third);
      border-radius: 5px;
      padding: 10px 130px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 28px;
      color: var(--third);
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}
.moviesContainer{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  transition: 0.3s;
  grid-gap: 100px 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  .headerListEmpty{
    color: var(--white);
    position: absolute;
  }
  .block{
    position: relative;
    &:hover .removeMovie{
      opacity: 1;
    }
    .removeMovie{
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      padding: 5px 15px;
      background: var(--first);
      transition: 0.3s;
      z-index: 20;
      opacity: 0;
    }
    .movieContainer{
      cursor: pointer;
      transition: 0.3s;
      height: 305px;
      width: 210px;
      background: var(--first);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      animation: movieContainer 0.3s linear forwards;
      .moviePoster{
        transition: 0.3s;
        min-height: 100%;
        width: 100%;
        z-index: 2;
      }
      &:hover .movieInfoContainer{
        background-color: var(--second);
      }
      .movieInfoContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.42);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px 0;
        transition: 0.3s;
        background-color: var(--first);
        .movieTitle{
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          text-align: center;
          color: white;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 0 10px;
        }
        .rateContainer{
          display: flex;
          justify-content: center;
          align-items: center;
          .movieRate{
            font-style: normal;
            font-weight: 500;
            font-size: 9px;
            line-height: 11px;
            text-align: center;
            color: var(--third);
          }
          .starIco{
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  a{
    position: relative;
  }
}