.mainContainer{
  height: 100%;
  width: 100%;
  background: #17222A;
  background: -webkit-radial-gradient(center, #17222A, #3A6073);
  background: -moz-radial-gradient(center, #17222A, #3A6073);
  background: radial-gradient(ellipse at center, #17222A, #3A6073);
  background-size: cover;
}